a {
    color: brown;
    font-size: medium;
}

.Greetings
 {
    color: black;
    font-family: cursive;
    font-weight: 200;
    
}

.Message {
    color: black;
    font-family: cursive;
    font-weight: 200;
    
    }
